/*
* Responsive layout for Patti 
*/

/* Table of Contents
==================================================

    #Mobile - 240px
    #Mobile - 320px	
    #Mobile - 480px	
	#Tablet - 768px	
	*/


/* #Mobile - 240px
================================================== */

@media only screen and (max-width: 319px) {
/*  responsive 319 footer  */
	
footer {
    background-image: url("../images/footer/BGFooter.png");
	background-repeat: repeat-y;
    position: relative;
    z-index: 1;
}
footer .splitter {
    background-image: url("../images/footer/redBoxFooter.png");
	background-size: 300px 70px;
	background-repeat: no-repeat;
	margin-left: 0px;
	padding-bottom: 1px;	
}
.splitter >ul {

    list-style-type: none;
    margin-left: 1px;
	padding: 7px 0;
    position: relative;
    text-align: justify;
}
.splitter > ul li {
	font-size: 10px;
	margin-left: 10px;
	padding-bottom: 5px;
    display: inline;
	
}
.splitter a {
    color: #FFFFFF;
	
}
.splitter a:hover {
    color: #F60;
}

footer > ul {
    list-style: none outside none;
    margin: 0 0;
    max-width: 319px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    width: 100%;
	height: 100%;
}

footer > ul li {
    float: left;
    padding: 1px 1px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 0;
	
}
footer > ul li:nth-child(3) {
    padding-right: 0;
}
footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 80px;
    line-height: 80px;
}
footer > ul li .text {
    color: #848889;
    font-size: 5px;
    line-height: 5px;
	margin-left: 100px;
    position: relative;
    text-align: justify;
	
}
.text h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
	
	
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #CCCCCC;
	font-size: 12px;
	
	
    
}
.text a:hover {
	color: #F60;
	font-size: 12px;
	
	
}
footer > ul li .text2 {
    margin-left: 400px;
    
}
footer > ul li .text3 {
	margin-left: 19px;
    position: relative;
    text-align: justify;
	display:block;
}
.text3 a {
	margin-right: 10px;
    border-bottom: 1px dotted transparent;
    color: #FFFFFF;
    font-weight: bold;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}
.text3 a:hover {
	color: #F60;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
	
}

footer > ul li .text4 {
	margin-left: 40px;
	color: #000000;
	font-size: 1px;
    position: relative;
    text-align: justify;
	display:block;
}

/*  END responsive 319 footer */

	html #wrapper {
		width:480px;
	
		margin: 0 auto;
	}

	html #footer {
		width:480px;
	}		

    html .dt-service-hover {
        top: -25px;
        left: 0;
        right: 0;
        bottom: -25px;
    }	

	.centered-wrapper {
		width:480px;
		padding:0 15px;
	}	

	.page-template-template-homepage-php .wpb_row .vc_span12 .wpb_row, .page-template-template-blog-php .wpb_row .vc_span12 .wpb_row {
		width: 480px;
		margin:0 auto;
	}

	.wpb_row.in_container {
		width: 480px;
	}

	.tparrows {
		display:none;
	}
	
	.tp-bullets {
		display:none;
	}



	.portfolio li.item-wide h1 {
		font-size:20px;
		line-height:28px;
	}
	
	.portfolio li.item-long h1 {
		font-size:14px;
	}

	.widget {
		margin-bottom:0;
		margin-top:30px;
	}

	.author-bio {
		padding:15px;
	}

	.authorp {
		width:340px;
	}

	.authorp h2 {
		font-size:14px;
	}

	.author-bio img {
		margin: 0 15px 0 0;
	}


	.map-wrapper [id^="google_map_"] {
		height: 200px;
	}		

}



/* #Tablet - 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.percent-one-half { width: 48%; }
	.percent-one-third { width: 30.66%; }
	.percent-two-third { width: 65.33%; }
	.percent-one-fourth { width: 22%; }
	.percent-three-fourth { width: 85%; }
	.percent-one-fifth { width: 16.8%; }
	.percent-two-fifth { width: 37.6%; }
	.percent-three-fifth { width: 58.4%; }
	.percent-four-fifth { width: 67.2%; }
	.percent-one-sixth { width: 13.33%; }
	.percent-five-sixth { width: 82.67%; }

	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-three-fourth,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-two-fifth,
	.percent-three-fifth,
	.percent-four-fifth,
	.percent-one-sixth,
	.percent-five-sixth {
		position: relative;
		margin-right: 4%;
		float: left;
		min-height:1px;
	}
		
	html #wrapper {
		width:768px;
		margin:0 auto;
	}

	.centered-wrapper {
		width: 768px;
		padding: 0 15px;
	}	

	.wpb_row.in_container {
		width: 768px;
	}

	.page-template-template-homepage-php .wpb_row .vc_span12 .wpb_row, .page-template-template-blog-php .wpb_row .vc_span12 .wpb_row {
		width: 768px;
		margin:0 auto;
	}	

	
	
	.on-three-columns .jp-duration {
		display: none;
	}

	.widget {
		margin-top:40px;
		margin-bottom:0px;
	}


    html .dt-service-hover {
        top: -100px;
        left: -30px;
        right: -30px;
        bottom: -100px;
    }	

}

@media only screen and (min-width: 1024px) and (max-width: 1395px) {
	/* responsive 1024-1279 footer */
footer {
    background-image: url("../images/footer/BGFooter.png");
	background-size: auto 500px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
footer .splitter {
    background-image: url("../images/footer/redBoxFooter.png");
	background-size: 400px 60px;
	background-repeat: no-repeat;
	margin-left: 700px;
	padding-bottom: 1px;	
}
.splitter >ul {
   overflow: hidden;
	
}
.splitter > ul li {
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
    display: inline;
	
}
.splitter a {
    color: #FFFFFF;
	
}
.splitter a:hover {
    color: #F60;
}

footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1024px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    width: 100%;
	height: 100%;
}

footer > ul li {
    float: left;
    padding: 1px 1px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 0;
	
}
footer > ul li:nth-child(3) {
    padding-right: 0;
}
footer > ul li .text {
    color: #848889;
    font-size: 5px;
    line-height: 10px;
	float: left;
	margin-left: 5px;
	margin-right: 20px;
    position: relative;
    text-align: justify;
	
}
.text h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
	
	
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #CCCCCC;
	font-size: 12px;
	
	
    
}
.text a:hover {
	color: #F60;
	font-size: 12px;
	
	
}
footer > ul li .text2 {
    margin-left: 80px;
    
}
footer > ul li .text3 {
    margin-left: 160px;
    position: relative;
    text-align: justify;
}
.text3 a {
	margin-right: 10px;
    border-bottom: 1px dotted transparent;
    color: #FFFFFF;
    font-weight: bold;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}
.text3 a:hover {
	color: #F60;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
	
}

footer > ul li .text4 {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 150px;
    margin-left: 50px;
    position: relative;
    text-align: justify;
}
/* responsive 1024-1279 footer */
	html #wrapper {
		width:100%;
		margin:0 auto;
	}

	.centered-wrapper {
		width: 1004px;
		padding: 0 15px;
	}

	.page-template-template-homepage-php .wpb_row .vc_span12 .wpb_row, .page-template-template-blog-php .wpb_row .vc_span12 .wpb_row {
		width: 1004px;
		margin:0 auto;
	}	

	.wpb_row.in_container {
		width: 1004px;
	}
        

      

}

@media only screen and (max-width: 767px) { 

	.percent-one-half { width: 100%; }
	.percent-one-third { width: 100%; }
	.percent-two-third { width: 100%; }
	.percent-one-fourth { width: 100%; }
	.percent-three-fourth { width: 100%; }
	.percent-one-fifth { width: 100%; }
	.percent-two-fifth { width: 100%; }
	.percent-three-fifth { width: 100%; }
	.percent-four-fifth { width: 100%; }
	.percent-one-sixth { width: 100%; }
	.percent-five-sixth { width: 100%; }

	.percent-one-half, .percent-one-third, .percent-two-third, .percent-three-fourth, .percent-one-fourth, .percent-one-fifth, .percent-two-fifth,
	.percent-three-fifth, .percent-four-fifth, .percent-one-sixth, .percent-five-sixth {
		position: relative;
		margin-right: 0;
		float: left;
		min-height:1px;
		margin-bottom:20px;
	}
	

	ul#filters li {
		margin: 0 5px 15px 0;
		float: left;
	}	

	.pricing-column.cols-2, .pricing-column.cols-3,.pricing-column.cols-4,.pricing-column.cols-5,.pricing-column.cols-6 {
		width: 100% !important;
		margin-bottom: 20px;
	}
	
	.package-value, .package-features, .pricing-column .signup {
		border-left: 1px solid #DBDBDB;
	}

	
	#bottomfooter p {
		text-align: center;
		float: none;
	}
}

@media only screen and (min-width: 1023px) {
	.nav-btn {
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		height: 1px;		
	}
}

@media only screen and (max-width: 767px) {
	.float-left {
		float: none;
		text-align: center;
	}

	.counter-item.with-border:before {
		border: 0;
	}

	.fancy-slider-info:before, .fancy-slider-info:after {
		display: none;
	}
        

}

@media only screen and (max-width: 1023px) {
	.counter-item.with-border:before {
		left: -9px;
	}	
	.pricing-column.cols-5,.pricing-column.cols-6 {
		width: 50%;
		margin-bottom: 20px;
	}	
	.flags_language_selector {
		display: none;
	}

	.nav-btn {
		top: 3px;
	}
}

@media only screen and (max-width: 1279px) {
/* responsive 1279 Event  */
.Event {
	background-image: url("../images/Event/BG.png");
	background-size: auto 1000px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
.Event > ul {
    list-style-type: none;
    padding: 0;
}

.Event > ul li {
	margin-right: 30px;
	margin-left: 35px;
    display: inline;
}
/*End responsive 1279 Event*/
/*responsive 1279 footer*/
	footer {
    background-image: url("../images/footer/BGFooter.png");
	background-size: auto 500px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
footer .splitter {
    background-image: url("../images/footer/redBoxFooter.png");
	background-size: 400px 70px;
	background-repeat: no-repeat;
	margin-left: 700px;
}
.splitter >ul {
    list-style-type: none;
	padding: 10px 0;
    position: relative;
    text-align: justify;
}
.splitter > ul li {
	
	margin-left: 15px;
	padding-bottom: 5px;
    display: inline;
	
}
.splitter a {
    color: #FFFFFF;
	
}
.splitter a:hover {
    color: #F60;
}

footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1279px;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    width: 100%;
	
}

footer > ul li {
    float: left;
    padding: 1px 1px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 0;
	
}
footer > ul li:nth-child(3) {
    padding-right: 0;
}
footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 80px;
    line-height: 80px;
}
footer > ul li .text {
    color: #848889;
    font-size: 5px;
    line-height: 10px;
	margin-left: 30px;
    position: relative;
    text-align: justify;
	
}
.text h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
	
	
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #CCCCCC;
	font-size: 12px;
	
	
    
}
.text a:hover {
	color: #F60;
	font-size: 12px;
	
	
}
footer > ul li .text2 {
    margin-left: 100px;
    
}
footer > ul li .text3 {
    margin-left: 160px;
    position: relative;
    text-align: justify;
}
.text3 a {
	margin-right: 10px;
    border-bottom: 1px dotted transparent;
    color: #FFFFFF;
    font-weight: bold;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}
.text3 a:hover {
	color: #F60;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
	
}

footer > ul li .text4 {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 150px;
    margin-left: 50px;
    position: relative;
    text-align: justify;
}
/* END responsive 1279 footer*/
        .counter-item.with-border:before {
            left: -13px;
        }	

        .centered-wrapper .centered-wrapper {
            padding: 0 !important;
        }
        

         
}

@media only screen and (min-width: 1280px) {
	/*responsive 1279 Event*/
.Event {
	background-image: url("../images/Event/BG.png");
	background-size: auto 1000px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
.Event > ul {
    list-style-type: none;
    padding: 0;
}

.Event > ul li {
	margin-right: 30px;
	margin-left: 35px;
    display: inline;
}
/*End responsive 1279 Event*/
/*responsive 1279 footer*/
	footer {
    background-image: url("../images/footer/BGFooter.png");
	background-size: auto 500px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
footer .splitter {
    background-image: url("../images/footer/redBoxFooter.png");
	background-size: 450px 70px;
	background-repeat: no-repeat;
	margin-left: 700px;
}
.splitter >ul {
    list-style-type: none;
	padding: 10px 0;
    position: relative;
    text-align: justify;
}
.splitter > ul li {
	
	margin-left: 15px;
	padding-bottom: 5px;
    display: inline;
	
}
.splitter a {
    color: #FFFFFF;
	
}
.splitter a:hover {
    color: #F60;
}

footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1279px;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    width: 100%;
	
}

footer > ul li {
    float: left;
    padding: 1px 1px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 0;
	
}
footer > ul li:nth-child(3) {
    padding-right: 0;
}
footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 80px;
    line-height: 80px;
}
footer > ul li .text {
    color: #848889;
    font-size: 5px;
    line-height: 10px;
	margin-left: 30px;
    position: relative;
    text-align: justify;
	
}
.text h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
	
	
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #CCCCCC;
	font-size: 12px;
	
	
    
}
.text a:hover {
	color: #F60;
	font-size: 12px;
	
	
}
footer > ul li .text2 {
    margin-left: 150px;
    
}
footer > ul li .text3 {
    margin-left: 200px;
	padding: 10px 0;
    position: relative;
    text-align: justify;
}
.text3 a {
	margin-right: 5px;
    border-bottom: 1px dotted transparent;
    color: #FFFFFF;
    font-weight: bold;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}
.text3 a:hover {
	color: #F60;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
	
}

footer > ul li .text4 {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 150px;
    margin-left: 50px;
    position: relative;
    text-align: justify;
}
/* END responsive 1279 footer*/
        .counter-item.with-border:before {
            left: -14px;
        }
                 

}

@media only screen and (max-width: 1023px) {
	.percent-blog, .percent-sidebar, .percent-page {
		width: 100%;
		margin: 0;
		clear:both;
	}
	
	.page-title-subtitle h2 {
		line-height: 50px;
	}

}

@media only screen and (max-width: 1023px) {

	#navigation {
		margin-top: 15px;
		width: 100%;
	}

	ul#mainnav {
		padding-top: 0;
		width: 100%;
	
		margin-right: 0;
	}
	
	ul#mainnav > li {
		background: none;
		width: 100%;
		border-bottom: 1px solid #EFEFEF;
	}

	.dark-header ul#mainnav > li {
		background: none;
	}
	
	ul#mainnav > li:last-child {
		border: 0;
	}
	
	 ul#mainnav li a {
		padding: 9px 0;
		display: block;
		margin: 0;
		height: auto;
		line-height: inherit;
	}
	
	ul#mainnav li ul {
		display: block !important;
		position: relative;
		padding: 0;
		width: 95%;
	}
	ul#mainnav li ul li {
		border-top: 1px solid #EFEFEF;
		background: transparent;
	}
	
	ul#mainnav li ul li a, ul#mainnav li ul li ul li a, ul#mainnav li ul li a:visited, ul#mainnav li ul li a:active	 {
    width: 100%;
    padding: 9px 0;
    font-size: 13px !important;
    background: transparent !important;
	}
	.sf-menu ul {
    left: 5%;
	}

	ul#mainnav li ul li ul {
		left: 5%;
	}


	#header .percent-three-fourth {
		width: 100%;
		clear: both;
		margin-bottom: 0px;
	}
	
	#header .centered-wrapper {
		position: relative;
	}
	
	#header {
		width: 100%;
	}
	
	#header .percent-one-fourth {
		margin-bottom: 0px;
	}

}
@media only screen and (min-width: 1400px) {
/*responsive 1400 Event*/
.Event {
	background-image: url("../images/Event/BG.png");
	background-size: auto 1000px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
.Event > ul {
    list-style-type: none;
    padding: 0;
	margin-left: 50px;
}

.Event > ul li {
	margin-right: 150px;
	margin-left: 100px;
    display: inline;
}
/*End responsive 1279 Event*/
/*responsive 1279 footer*/
	
footer {
    background-image: url("../images/footer/BGFooter.png");
	background-size: auto 500px;
	background-repeat: repeat-x;
    position: relative;
    z-index: 1;
}
footer .splitter {
    background-image: url("../images/footer/redBoxFooter.png");
	background-size: 530px 60px;
	background-repeat: no-repeat;
	margin-left: 1200px;
	
}
.splitter >ul {
    list-style-type: none;
	margin-left: 20px;
    text-align: justify;
}
.splitter > ul li {
	margin-left: 20px;
    display: inline;
	
}
.splitter a {
    color: #FFFFFF;
	
}
.splitter a:hover {
    color: #F60;
}

footer > ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 1919px;
    overflow: hidden;
    position: relative;
    width: 100%;
	height: 100%;
}

footer > ul li {
    float: left;
    padding: 10px 1px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
footer > ul li:first-child {
    padding-left: 100px;
	
}
footer > ul li:nth-child(3) {
    padding-right: 20px;
}
footer > ul li .icon {
    color: #999999;
    float: left;
    font-size: 80px;
    line-height: 80px;
}
footer > ul li .text {
    color: #848889;
    font-size: 5px;
    line-height: 15px;
	margin-left: 50px;
	padding-right: 40px;
    position: relative;
    text-align: justify;
	
}
.text h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
	
	
}
.text a {
    border-bottom: 1px dotted transparent;
    color: #CCCCCC;
	font-size: 12px;
	
	
    
}
.text a:hover {
	color: #F60;
	font-size: 12px;
	
	
}
footer > ul li .text2 {
    margin-left: 300px;
    
}
footer > ul li .text3 {
    margin-left: 200px;
    position: relative;
    text-align: justify;
}
.text3 a {
	margin-right: 10px;
    border-bottom: 1px dotted transparent;
    color: #FFFFFF;
    font-weight: bold;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition:  all .2s linear;
    transition: all .2s linear;
}
.text3 a:hover {
	color: #F60;
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
	
}

footer > ul li .text4 {
	color: #FFFFFF;
	font-size: 40px;
	margin-top: 100px;
    margin-left: 30px;
    position: relative;
    text-align: justify;
}

/* END responsive 1400 footer*/
}